body{
  background-color: #212121;
}

form{
  width: 40vw;
  margin: 5vw auto;
}

@media screen and (max-width: 800px) {
  form{
    width: 85vw;
    margin: 2vw auto;
  }
  .btn-full-width {
    width: 100vw;
  }
}

div{
  margin-top: .5rem;
}

.title, .occurrences, .duration, span, div{
  color: #fff;
  text-align: justify;
}

.title {
  margin-bottom: 2rem;
}
